<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 复杂查询语句写在这里，其他简单语句用注解 -->
<mapper namespace="mybatis.mapper.ScoreMapper">
    <sql id="scorecol">
        sc.id as scid,sc.score as score
    </sql>

</mapper>