        body{
            color: green;
        }
        h1{
            color: #ff0000;
            font-size: 14px;
        }
        #div1{
            color: aquamarine;
            font-size: 30px;
        }
        .class1{
            color: blue;
            font-size: 50px;
        }
        div span{
            color: aqua;
        }
        div span.class2{
            color: blueviolet;
        }
        h1,h2,h3{
            color: burlywood;
        }